@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-size: clamp(1.2rem, 2vw, 2rem);
  background-color: #f4f4f4;
}

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  transition: grid-template-rows 0.2s linear;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "how-it-works"
      "faq"
      "contact"
      "footer";
  }
}

@media screen and (min-width: 600px) {
  .container {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "how-it-works how-it-works"
      "faq faq"
      "contact contact"
      "footer footer";
  }
}

header {
  grid-area: header;
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

.how-it-works {
  grid-area: how-it-works;
  background-color: #e7e7e7;
  padding: 20px;
  text-align: center;
}

.steps {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media screen and (min-width: 600px) {
  .steps {
    grid-template-columns: repeat(3, 1fr);
  }
}

.step {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.faq {
  grid-area: faq;
  background-color: #fff;
  padding: 20px;
}

.question {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

.answer {
  display: none;
  margin-top: 10px;
  color: #371bc2;
}

.contact {
  grid-area: contact;
  background-color: #e7e7e7;
  padding: 10px;
  text-align: center;
  padding-bottom: 50px;
}

.contact-info {
  margin: 20px 0;
}

form input,
form textarea {
  padding: 20px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.btn {
  background-color: #6a5acd;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
.aa {
  width: 31%;
}
.bb {
  width: 66%;
}
/* Hidden paragraph container */
.hidden-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  padding: 0;
  background-color: #e7e7e7;
  margin-top: 10px;
}

/* Class to show paragraph */
.show {
  max-height: 200px; /* Adjust height based on content */
  padding: 15px;
}
